.columns
  .column.col-3.col-mx-auto
    .panel{style: "padding: 1em"}
      .panel-header
        .panel-title
          %h2.text-center= t(".title")
      .panel-body
        = form_for :session, url: session_path, html: { class: "form-horizontal" } do |form|
          = render partial: '/sessions/form', object: form
          .form-group
            .col-12
              = form.submit nil, class: "btn btn-primary"
      .panel-footer
        .divider
        = link_to "Back", tracks_path, class: "btn"
        - if Clearance.configuration.allow_sign_up?
          = link_to t(".sign_up"), sign_up_path, class: "btn"
        = link_to t(".forgot_password"), new_password_path, class: "btn"

