%div{class: "columns"}
  %div{class: "column col-10 col-mx-auto"}
    %table{class:"table"}
      %thead
        %tr
          %th{colspan: 5}
            = link_to "Add track", new_track_path, class: "btn btn-primary"
            = link_to "Compare tracks", compare_tracks_path, class: "btn btn-primary"
        %tr
          %th Id
          %th Uuid
          %th Created at
          %th Updated at
          %th View
      %tbody
        - @tracks.each do |track|
          %tr
            %td= track.id
            %td= track.uuid
            %td= track.created_at
            %td= track.updated_at
            %td
              =link_to track_path(track), class: "btn btn-primary" do
                %i{class: "icon icon-more-vert"}
    = paginate @tracks
