.columns
  .column.col-10.col-mx-auto
    .col-12
      = link_to "Back", tracks_path, class: "btn"
  .column.col-10.col-mx-auto
    .col-12
      #map-container
        #map-canvas
  .column.col-10.col-mx-auto
    .col-12
      %h1
        Track
        = @track.uuid
      %div
        = link_to @track.track_attachment.identifier,
          @track.track_attachment.url
      %table.table
        %thead
          %tr
            %th Position
            %th Altitude
            %th Longitude
            %th Latitude
            %th Tracked at
        %tbody
          - i = (@points.size * ((params[:page] || 1).to_i - 1)) + 1
          - @points.zip(i..(i + @points.size)).each do |point, position|
            %tr
              %td= position
              %td= point.altitude
              %td= point.lng
              %td= point.lat
              %td= point.tracked_at
    .col-12
      = paginate @points

= content_for :js do
  = javascript_include_tag "map"
