%div{style: "columns"}
  %div{class: "column col-10 col-mx-auto"}
    %div{style: "columns"}
      %div{class: "col-12"}
        = link_to "Back", tracks_path, class: "btn"
      %div{class: "col-12"}
        %h1
          Track
          = @track.uuid
        %div
          = link_to @track.track_attachment.identifier,
            @track.track_attachment.url
        %table{class:"table"}
          %thead
            %tr
              %th Position
              %th Altitude
              %th Longitude
              %th Latitude
              %th Time
          %tbody
            - i = (@points.size * ((params[:page] || 1).to_i - 1)) + 1
            - @points.zip(i..(i + @points.size)).each do |point, position|
              %tr
                %td= position
                %td= point.altitude
                %td= point.lon
                %td= point.lat
                %td= point.time
      %div{class: "col-12"}
        = paginate @points

