!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Simiroute
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js"
    = yield :js
  %body
    %body
    %header.navbar
      %section.navbar-section
        = link_to "Simiroute", root_path, class: "nav-brand text-bold mr-2 text-large text-uppercase"
      %section.navbar-center
        %div.bg-primary{style: "margin: 2em; padding: 1em"}
          %i.icon.icon-4x.icon-photo
      %section.navbar-section
        - if signed_in?
          = link_to "Sign out", sign_out_path, class: "btn btn-link", method: :delete
        - else
          = link_to "Sign in", sign_in_path, class: "btn btn-link"
          = link_to "Sign up", sign_up_path, class: "btn btn-link"
    %div{class: "container", style: "margin-top: 5em; margin-bottom: 5em;"}
      = yield
